flask
flask-cors
ultralytics
opencv-python
torch
torchvision
torchaudio
yolov5
pymongo[srv]
python-dotenv
dnspython
tqdm
pillow
pandas
seaborn
matplotlib
pyyaml
requests
scipy
numpy<2.0
urllib3>=2.5.0
pyjwt
bcrypt
werkzeug
boto3==1.40.69
botocore==1.40.69
lap>=0.5.12
reportlab
openpyxl
